<main class="container">
	<article class="blog">
		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
		<app-line></app-line>
		<section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi provident vel quae. Adipisci aut
			quidem itaque impedit autem minus magni error cupiditate aliquam nam, omnis quos tenetur quibusdam
			doloremque. Ullam eaque repellendus nostrum at accusantium, ducimus voluptas explicabo possimus, inventore
			mollitia perspiciatis ipsam temporibus doloremque fuga doloribus numquam suscipit ad?</section>
		<br>
		<section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi provident vel quae. Adipisci aut
			quidem itaque impedit autem minus magni error cupiditate aliquam nam, omnis quos tenetur quibusdam
			doloremque. Ullam eaque repellendus nostrum at accusantium, ducimus voluptas explicabo possimus, inventore
			mollitia perspiciatis ipsam temporibus doloremque fuga doloribus numquam suscipit ad?</section>
		<br>
		<section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi provident vel quae. Adipisci aut
			quidem itaque impedit autem minus magni error cupiditate aliquam nam, omnis quos tenetur quibusdam
			doloremque. Ullam eaque repellendus nostrum at accusantium, ducimus voluptas explicabo possimus, inventore
			mollitia perspiciatis ipsam temporibus doloremque fuga doloribus numquam suscipit ad?</section>
	</article>
	<app-line></app-line>
	<section class="list-comments">
		<app-comment *ngFor="let comments of comments"></app-comment>
	</section>
</main>
