.btn-options {
	background: none;
	border: none;
	position: relative;

	&__list {
		z-index: 10;
		background-color: white;
		position: absolute;
		top: -38px;
		left: 20px;
		border: 1px solid black;
		padding: .5rem;
		border-radius: 5px;

		li {
			list-style-type: none;
		}
	}
}

#cover {
	z-index: 9;
	position: fixed;
	opacity: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	//background-color: rgba(0,0,0,.5);
	pointer-events: none;
}

#cover.active {
	opacity: 1;
	pointer-events: all;
}

